/* Добавим стили для контейнера */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  min-height: 100vh;

  /* Стили для блоков с кодом */
  .block {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: black;
    margin: 10px;
    flex-basis: calc(33.33% - 20px); /* Равномерное распределение на 3 столбца с отступами */

    h2 {
      font-size: 24px;
      margin: 0 0 10px;
    }

    /* Стили для текста */
    div {
      font-size: 16px;
    }

    /* Стили для кнопки */
    .blockButton {
      display: block;
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
